<div class="message-panel-container"
     [ngStyle]="{'background-color' : typeMessage === 'success' ? 'green' : typeMessage === 'error' ? 'red' : 'orange' }">
  <div class="message-title" *ngIf="typeMessage === 'warning'">
    <span>{{WORDING.warningTitle}}</span>
  </div>
  <div class="message-body">
    <ng-container *ngIf="typeMessage === 'warning'; else simpleMessage">
      <div *ngFor="let validationReason of validationData?.reasons">
        <span class="reason-title"> {{validationReason.reason}}</span>
        <div class="reason-list-container">
          <ng-container *ngIf="validationReason.duplicates;">
            <ul class="reason-list">
              <li class="list-item" *ngFor="let movement of validationReason.duplicates">
                <span class="list-element">{{WORDING.id}} : {{ movement.id }}, </span>
                <span class="list-element">{{WORDING.date}} : {{ movement.date }}, </span>
                <span class="list-element">{{WORDING.montant}} : {{ movement.amount }}, </span>
                <span class="list-element">{{WORDING.libelle}} : {{ movement.label }}</span>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="validationReason.notInPeriod;">
            <span>{{WORDING.missingOperationExplaination}}</span>
            <ul class="reason-list">
              <li class="list-item" *ngFor="let movement of validationReason.notInPeriod">
                <span class="list-element">{{WORDING.id}} : {{ movement.id }}, </span>
                <span class="list-element">{{WORDING.date}} : {{ movement.date }}, </span>
                <span class="list-element">{{WORDING.montant}} : {{ movement.amount }}, </span>
                <span class="list-element">{{WORDING.libelle}} : {{ movement.label }}</span>
              </li>
            </ul>
          </ng-container>
          <ng-container *ngIf="validationReason.missingMovements;">
            <ul class="reason-list">
              <li *ngFor="let missingMovement of validationReason.missingMovements">
                <span class="list-element">{{WORDING.period}} : {{missingMovement.startDate}} - {{missingMovement.endDate}}</span>,
                <span class="list-element">{{WORDING.actualTotalMovement}} : {{ missingMovement.actualTotalMovement }}</span>,
                <span
                  class="list-element">{{WORDING.observedTotalMovement}} : {{ missingMovement.observedTotalMovement }}</span>,
                <span
                  class="list-element">{{WORDING.totalMissingMovement}} : {{ missingMovement.actualTotalMovement - missingMovement.observedTotalMovement }}</span>,
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </ng-container>
  </div>
</div>


<ng-template #simpleMessage>
  <span class="message-title" *ngIf="typeMessage === 'success'">{{WORDING.successTitle}}</span>
  <span class="message-title" *ngIf="typeMessage === 'error'">{{WORDING.errorTitle}}</span>
</ng-template>
