.message-panel-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 800px;
  min-height: 100px;
  color: white;
  padding: 24px;
}

.message-title {
  font-weight: bold;
  font-size: 24px;
}

.reason-title {
  font-size: 18px;
}
